@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body,html {
  margin: 0;
  padding: 0;
  background-color: #C8C0A3;
}
* {
  box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

a{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
}

a:hover{
  opacity: 0.5;
}

main{
  background-color: #C8C0A3;
  height: 100vh;
}


/* Main Page - index.html
-------------------------*/
.name{
  display: inline;
  font-size: 60px;
  position: relative;
  top: 50px;
  left: 55px;
  font-family: 'Caveat', cursive;
  color: #5E5E8E;
}

.brain{
    height: 568px;
    width: 795px;
    position: relative;
    top: 60px;
    left: 450px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    }


.br1{
    width: 55%;
    height: auto;
    position: absolute;
    top: 8%;
    left: 0;
}

#about{
  position: absolute;
  top: 42%;
  left: 33%;
}

.br2{
    width: 52%;
    height: auto;
    position: absolute;
    top: 0;
    left: 27%;
}

#publication{
  position: absolute;
  top: 27%;
  left: 40%;
  font-size: 37px;
}

.br3{
    width: 28%;
    height: auto;
    position: absolute;
    top: 21%;
    left: 70%;
    z-index: 99999;
}

#contact-me{
  position: absolute;
  top: 33%;
  left: 33%;
  font-size: 30px;
}

.br4{
  width: 65%;
  height: auto;
  position: absolute;
  top: 36%;
  left: 26%;
}

#gallery{
  position: absolute;
  top: 30%;
  left: 35%;
}

.br5{
  width: 22%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 99999;
}

#cv{
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 35px;
}

/*.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

  /* About_Me.html - Intro about myself
--------------------*/
/*#home-button-1{
  width: 90px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}*/

#header{
  height: 150px;
  background-color: #C8C0A3;
  padding-left: 100px;
}
#header a{
  color: #5E5E8E;
}

#intro{
  width: 100%;
  height: 500px;
  background-color: #C8C0A3;
 /*display: flex;
  justify-content: center;*/
}

#havij{
  height: 500px;
  padding-left: 50px;
}

#about-me{
  width: 100%;
  height: 500px;
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: right;
}

.border{
  height: 500px;
  width: 350px;
}

#border-right{
  width: 600px;
  height: 450px;
  position: absolute;
  right: 50px;
}

#my-background{
  width: 500px;
  text-align: justify;
  position: absolute;
  top: 80px;
  right: 150px;
}


  /* About_Me.html - Girl with a Pearl Earing 
--------------------*/
#portrait{
  /*height: 85vh;*/
  height: 680px;
  background-color: #303124;
  position: relative;
  top: 0;
}

/*.banner{
  height: 85vh;
  height: 680px;
  width: auto;
  float: right;
}*/

#sketch{
  /*height: 85vh;*/
  height: 680px;
  position: absolute;
  top: 0;
  /*right: 10%;*/
  right: 145px;
}
.my-story{
  font-family: 'M PLUS 2', sans-serif;
  font-size: 18px;
}

.my-story h1{
  font-family: 'Poiret One', cursive;
  font-size: 25px;
}

.my-story a{
  color: #941751;
}

#my-interests{
  width: 600px;
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 9999;
  color: #F5EFD0;
  text-align: justify;
}

  /* About_Me.html - Research Experiences
--------------------
#research{
  background-color: #C8C0A3;
  text-align: justify;
  height: 600px;
  position: relative;
}

#research-experience{
  height: 500px;
  width: 600px;
  position: relative;
  top: 50px;
  left: 50px;
  color: #303124;
}

#border-left{
  position: absolute;
  top: 0px;
  left: 0px;
}

#research-background{
  position: absolute;
  top: 50px;
  left: 50px;
}

#alz-poster{
  width: 600px;
  position: absolute;
  right: 80px;
  top: 80px;
}

#up-button{
  width: 50px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}*/

/* About-Me.html - Contact Me 
-------------------------*/
#get-in-touch{
    height: 80vh;
  }

#microphone{
  background-color: #C8C0A3;
  height: 60%;
  width: auto;
  padding-top: 25px;
  padding-left: 50px;
}

#mice{
  height: 100%;
  width: auto;
}

#social_networks{
  background-color: #5E5E5E;
  width: 100%;
  height: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container{
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container div{
  margin-right: 15px;
  margin-left: 15px;
}

#other_resources{
  background-color: #5E5E5E;
  height: 5%;
  color: white;
  display: flex;
  justify-content: center;
}

#other_resources div{
  margin-left: 1%;
}

.copyright{
  background-color: #36385C;
  color: white;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-button-2{
  width: 90px;
  height: auto;
  position: relative;
  top: 48%;
}

/*.contact-form{
  float: right;
  width: 50%;
  height: 45%;
  position: relative;
  top: 6%;
  right: 11%;
}

.contact-form h1{
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif ;
  color: #36385C;
}

.form-control{
  width: 25%;
  height: 40px;
  margin-right: 5%;
  margin-top: 2%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background: white;
  border: 1px solid rgba(25, 27, 19, 0.2);
  font-size: 14px;
  color: #191b13;
}

#subject{
  width: 55.5%;
}

#message{
  width: 55.5%;
  height: 40%;
}

.submit{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: wheat;
  width: 55.5%;
  height: 30px;
  margin-top: 1%;
  background-color: #36385C;
  border: none;
}*/

#know-more{
  float: right;
  width: 600px;
  position: relative;
  top: 120px;
  right: 400px;
  font-size: 150%;
}

/* Publications.html 
-------------------------*/

.publications{
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  color: #383633;

}
 .publications a{
  color: #006699;
 }

 .publications li{
  padding: 1%;
 }

 .title{
  font-size: 30px;
  margin: 5%;
 }

#footer{
  height: 8vh;
}