img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.intro{
    background-color: #C8C0A3;
    height: 100vh;
}

.brain{
    /*height: 79%;
    width: 62%;*/
    height: 568px;
    width: 795px;
    position: relative;
    top: 12%;
    left: 30%;
}

.br1{
    width: 55%;
    height: auto;
    position: absolute;
    top: 1%;
    left: 0;
}

.br2{
    width: 52%;
    height: auto;
    position: absolute;
    top: 0;
    left: 27%;
}

.br3{
    width: 28%;
    height: auto;
    position: absolute;
    top: 21%;
    left: 70%;
}

.br4{
  width: 65%;
  height: auto;
  position: absolute;
  top: 36%;
  left: 26%;
}

.br5{
  width: 22%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 4%;
}

.portrait{
  position: relative;
  background-color: #303124;
  height: 100vh;
}

#mysketch{
  width: 500px;
  height: auto;
  position: relative;
  top: 0;
  left: 800px;
}